RewriteEngine On

RewriteCond %{QUERY_STRING} (^|&)acao=editar(&|$) [NC]
RewriteRule ^funcionarios_cadastrar$ /funcionarios_editar [R=302,L]
RewriteRule ^funcionarios_editar$ controlers/funcionarios_editar.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [NC,QSA]
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(central|novacentral)\.brinfor\.com\.br$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]